@media (min-width: 800px){
    
    header, .navbar, .banner, main, footer {
        width: 1200px;
        margin: 0 auto;
    }
    
    header {
        left: 50%;
        margin-left: -600px;
    }

    .header-container {
        height: 12rem;
    }

    .header-container .logo img {
        width: 25rem;
    }

    .header-container .main-input .main-search-container {
        width: 30rem;
        margin-bottom: 1.5rem;
    }
    
    .header-container .main-input .main-search-container input {
        width: 23rem;
        height: 5rem;
    }

    .header-container .main-input .social-media-container a img {
        height: 2rem;
    }
    
    .navbar {
        margin-top: 14.5rem;
    }
    
    .banner {
        height: 50rem;
    }
    
    .each-slide > div {
        height: 50rem;
    }
    
    .footer-up .contact-container .contact-information p {
        font-size: var(--medium);
    }
}